@charset "utf-8";
/* CSS Document */

/*This can be used to hide elements in HTML*/
.hidden
{
	display: none;
}

body
{
	background-image: url(../images/background.jpg);
}

#container
{
	padding-top: 10px;
	background-image: url(../images/container.jpg);
	text-align: center;
	padding-bottom: 50px;
	border-radius: 15px;
}

h1
{
	font-family: 'Faster One', cursive;
	font-size: 50px;
	color: aliceblue;
	text-decoration: underline;
	margin-top: 10px;

}

#scenerio
{	font-family: 'Bungee', cursive;
	font-size: 1em;
}

#prompt
{
	font-family: 'Bungee', cursive;
	font-size: 25px;
	margin-top: 10px;
}

#option1
{
	font-family: 'Bungee', cursive;
	font-size: 14px;
	padding: 15px;
	height: 70px;
	background-color: azure;
	margin-top: 30px;
	border-radius: 5px;
}

#option2
{
	font-family: 'Bungee', cursive;
	font-size: 14px;
	padding: 15px;
	height: 70px;
	background-color: azure;
	margin-top: 40px;
	border-radius: 5px;
}

#questionForm
{
	display: none;
}

#input
{
	background-color: black;
	color: aliceblue;
	border-radius: 3px;
}

#restart
{
	font-size: 16px;
	background-color: black;
	color: aliceblue;
	width: 75px;
	height: 25px;
	text-align: center;
	line-height: 25px;
}

#hint1
{
	margin-top: 20px;
	background-color: #E74747;
	width: 75px;
	height: 68px;
	opacity: 0;
	font-family: 'Bungee', cursive;
	font-size: 13px;
	padding-top: 2px;
}

#hint2
{
	width: 75px;
	background-color: #E74747;
	margin-left: 50px;
	margin-top: 20px;
	height: 68px;
	opacity: 0;
	font-family: 'Bungee', cursive;
	font-size: 13px;
	padding-top: 2px;
}

#hint3
{
	width: 75px;
	background-color: #E74747;
	margin-left: 50px;
	margin-top: 20px;
	height: 68px;
	opacity: 0;
	font-family: 'Bungee', cursive;
	font-size: 13px;
	padding-top: 2px;
}
